<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Some Website</title>
</head>
<body>
	<center><h1>We'll be right Back</h1></center>
	<p>Unable to Load. Maintenance taking place</p>

	{{> footer}}
</body>
</html>